/* If you can't see it just hit space in here*/

span {
    text-transform: uppercase;
}
.container {
    width: 800px;
    height: 420px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
}

h1 {
    position: relative;
    top: 200px;
    text-align: center;
    color: white;
    font-size: 3.5em;
}
